.h3 {
  color: #4c3ee3;
  font-size: x-large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.email {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding-bottom: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.button input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: #4c3ee3; 
  color: white;
  border: none;
  border-radius: .5rem;
  width: 10rem;
  font-size: large;
}

.button input[type="submit"]:hover {
  background-color: pink;
  color: black;
}